 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/jonny-auh-z99iWocuDt0-unsplashp.jpg");
  background-position: 50% 21.83%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 135px;
  margin: -678px -371px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 659px;
  height: 362px;
  object-position: 50% 14.15%;
  margin: 616px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  width: 752px;
  font-style: italic;
  margin: 94px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 752px;
  margin: 22px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 228px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 292px;
  height: 144px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 244px;
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 156px;
  width: 352px;
  margin: 0 auto 0 -10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-image-3 {
    width: 128px;
    height: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 437px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 297px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 656px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 656px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 187px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 413px;
  }

  .u-section-1 .u-image-4 {
    height: 151px;
    width: 340px;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 617px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 310px;
  margin: 71px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  width: 878px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 262px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 704px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 159px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/lukas-tennie-54Pfu4EK4pc-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 563px;
}

.u-section-3 .u-slider-1 {
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 438px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 130px;
}

.u-section-3 .u-image-1 {
  width: 292px;
  height: 292px;
  background-image: url("images/ex-IMG_6409.jpg");
  background-position: 50% 46.72%;
  margin: 37px auto 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: -268px 0 0 347px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 0 0 347px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0;
  border-style: none;
  font-weight: 700;
  margin: 49px 314px 0 auto;
  padding: 10px 63px 10px 62px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 130px;
}

.u-section-3 .u-image-2 {
  width: 292px;
  height: 292px;
  background-image: url("images/ex-IMG_6998.jpg");
  background-position: 50% 21.3%;
  margin: 37px auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: -268px 0 0 348px;
}

.u-section-3 .u-text-4 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 25px 0 0 348px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  border-style: none;
  font-weight: 700;
  margin: 40px 313px 0 auto;
  padding: 10px 63px 10px 62px;
}

.u-section-3 .u-carousel-control-1 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-3 .u-carousel-control-2 {
  width: 65px;
  height: 65px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 312px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
    margin-right: 209px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .u-section-3 .u-image-2 {
    width: 291px;
    height: 291px;
    margin-top: 39px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -276px;
    margin-left: 311px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 311px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 20px;
    margin-right: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-3 .u-image-1 {
    width: 190px;
    height: 190px;
    margin-top: 94px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -249px;
    margin-left: 215px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 215px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 116px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 85px;
    padding-right: 85px;
  }

  .u-section-3 .u-image-2 {
    width: 192px;
    height: 192px;
    margin-top: 93px;
    margin-left: -1px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -237px;
    margin-right: 63px;
    margin-left: 214px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 214px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 774px;
  }

  .u-section-3 .u-slider-1 {
    margin-top: 60px;
    min-height: 649px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 24px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    width: 333px;
    height: 333px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-2 {
    width: 326px;
    height: 326px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
}
.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/lukas-tennie-54Pfu4EK4pc-unsplash.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.u-section-4 .u-sheet-1 {
  min-height: 333px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 31px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 356px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 144px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 79px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-5 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 116px;
  min-width: 52px;
  margin: 0 auto;
}

.u-section-5 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 65px;
  }

  .u-section-5 .u-social-icons-1 {
    width: 320px;
    min-width: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 269px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 50px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 191px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 46px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 120px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-social-icons-1 {
    height: 44px;
    width: 298px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 403px;
}

.u-section-6 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto;
  margin: 71px 0 55px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 188px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-6 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-list-1 {
    margin-top: 96px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}